// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
/* resources/sass/app.scss */
.fancybox-button--back {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}
