/* Reset some default margin and padding */
body, h1, h5, table {
    margin: 0;
    padding: 0;
}

/* Style the container div */
.card {
    margin-bottom: 20px;
}

/* Style the heading */
.card-header {
    background-color: #007bff;
    color: rgb(255, 255, 255);
}

/* Style the table headers */
table th {
    text-align: left;
}

/* Style the table cells */
table td {
    padding-left: 10px;
}

/* Style the images */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Style the form */
form {
    margin-top: 20px;
}

.link-item {
    margin-bottom: 15px;
}

.link-url {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

.link-url:hover {
    text-decoration: underline;
}

.date-background {
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

